*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --color-neutral-light: #eaeeef;
  --color-neutral-medium: #9aa2a4;
  --color-neutral-dark: #363c3e;

  --color-main-light: #b9f1fe;
  --color-main-medium: #20b3d5;
  --color-main-dark: #054352;

  --color-white: #e9e9e9;
  --color-black: #222222;

  --header-height: 3rem;
  --gap-size: 1rem;
  --container-width: 1000px;

  --font-serif: Georgia, "Times New Roman", serif;
  --font-sans: Helvetica, arial, sans-serif;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: (--font-sans);
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

a {
  /* be default will allow height and width */
  display: inline-block;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Small Classes */

.hidden {
  display: none;
}

.container {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.flex-stretch {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}


.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------- Sign in ------------------ */
/* #signin-page [data-role="main"] {
    background: url("/wnm617/haupt.brandon/img/moonlight.jpg");
    height: 100vh;
    width: 100vh;
    object-fit: contain;
} */

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  object-fit: cover;
  background-image: url("/wnm617/haupt.brandon/img/moonlight.jpg");
  background-color: #00b2ff;
}

#signin-page .navMenu {
  position: relative;
  z-index: 1;
  color: white;
}

.signin-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 50%;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  background-color: #f6f6f6;
  text-align: center;
}

.form-control input {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #00b2ff;
  padding: 1em;
}

.form-control-sign-in {
  display: inline-block;
}

/* .login-image {
    width: 40vmax;
    height: 100%;
    object-fit: cover;
} */

.form-button {
  background-color: #00b2ff;
  color: white;
  border: none;
  border-radius: 20px;
  width: 8em;
  height: 3em;
  margin: 1em auto;
}

.forgot-password {
  font-size: 0.7em;
  text-align: center;
}

/* ------------- SIGN UP ------------------ */

.form-control-sign-up input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #00b2ff;
}

.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 55%;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
}

#signup-username,
#signup-email,
#signup-password,
#signup-password-confirm {
  width: 80%;
  height: 100%;
  padding: 3%;
  margin: 1em;
}

#signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control-sign-up-btn a {
  display: flex;
  float: left;
  margin: 2em 1.5em auto;
  text-align: center;
}

.form-control-sign-up-btn .form-button {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* -------------------------- Map Page ----------------------- */

.mapimage {
  object-fit: cover;
  height: calc(100vh - 100px);
  width: 100vw;
}

.resource-profile-add {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.map-icon img,
.list-icon img,
.user-profile-icon img {
  width: 2em;
  height: 2em;
}

.resource-profile-add {
  display: flex;
  position: absolute;
  bottom: 3%;
  justify-content: center;

  background-color: #00b2ff;
  border-radius: 50%;
  border: none;
  width: 3.5em;
  height: 3.5em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.resource-profile-add button {
  margin: 0;
  padding: .4em;
  border: none;
  background-color: transparent;
  font-size: 2em;
  color: white;
}

.resource-example {
  position: absolute;
  top: 30%;
  left: 40%;
  cursor: pointer;
}

.resource-example img {
  height: 3em;
}

/* ----------------------- Other stuff? --------------------- */
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5em;
}

.navMenu li {
  padding: 3%;
}

/* ------------------------- User Profile --------------------- */
.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: #2c2c2c;
}

.user-profile img {
  background-color: grey;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  object-fit: cover;
}

#user-profile-notes {
  border-radius: 4px;
  height: 80% !important;
}

#profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.profile-page-content,
.resource-profile-page-content,
.resource-add-content {
  min-height: calc(100vh - 50px);
}


.js-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2em 2em;
  width: 30%;
  height: 5%;
  color: rgb(167, 166, 166);
}

.user-profile-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 2em 2em;
  background-color: #00b2ff;
  width: 30%;
  height: 5%;
  border-radius: .5em;
  color: white;
}

/* -------------------- Resource Profile Page ---------------- */

#resource-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #2c2c2c;
}

.resource-profile-content {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding-top: 20%;
}

.resource-profile-content p {
  margin: 0 auto;
  padding: 2em;
  background-color: #cdcdcd;
  border-radius: 4px;
  font-size: 0.8em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.resource-profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: white;
  height: 20%;
}

.resource-profile-header img {
  width: 20%;
}

.resource-profile-header h1 {
  font-size: 2em;
  font-family: sans-serif;
}

#resource-profile-name,
#resource-profile-description {
  border-radius: 4px;
  width: 80%;
  margin: 1em auto;
  border: none;
  background-color: #cdcdcd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#resource-profile-description {
  height: 30% !important;
}

#resource-profile-save-button {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 30%;
  height: 5%;
  background-color: #00b2f0;
  border-radius: 5px;
  border: none;
  color: white;
}

#resource-resource-page-back-button {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 30%;
  height: 5%;
  background-color: #00b2f0;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: none;
}

/* -------------------- Resource Add Page ---------------- */

#resource-add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resource-add-page {
  background-color: #2c2c2c;
  width: 100%;
  height: 100vh;
}

.resource-add-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.resource-add-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.resource-add-img img {
  background-color: white;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
}

.add-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  right: 20%;
  font-weight: bolder;
  background-color: #00b2ff;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
  color: white;
}

.resource-add-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resource-add-name {
  border-radius: 4px;
}

#resource-add-description {
  border-radius: 4px;
}

#resource-add-save-btn {
  position: absolute;
  bottom: 0;
  right: 3%;
  border: none;
  background-color: #00b2ff;
  width: 45%;
  border-radius: 4px;
  float: right;
  color: white;
  font-size: 1.3em;
}

#resource-add-page-back-button {
  position: absolute;
  bottom: 0;
  left: 3%;
  border: none;
  background-color: #00b2ff;
  width: 45%;
  border-radius: 4px;
  float: left;
  color: white;
  font-size: 1.3em;
}

/* ---------------------- LIST ------------------ */
#list-page [data-role="main"] {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  z-index: 1;
}

.add-new-resource {
  font-size: 1.5em;
  text-align: center;
  width: 2em;
  height: 2em;
}

.add-new-resource a {
  background-color: #00b2ff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.resource-list {
  margin: 1em;
}

.resource-list a {
  padding: 0.2em;
}

/* Might need */
.text-center {
  text-align: center;
}

.scrollable {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38em;
  padding: 1.2rem;
}

#list-page .navMenu {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
vvvvvvvvvvvvvvvvvvvvvvvv
*/

#list-page .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

#list-page .container li {
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-top: 0.5em;
  background-color: #00b2ff;
  text-align: center;
  border-radius: 8px;
  color: white;
  line-height: 2.5em;
  font-size: 1.2em;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#list-page .container img {
  display: flex;
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

#list-page .container a {
  font-weight: lighter;
}

/*  Found help on https://stackoverflow.com/questions/55541850/how-to-make-footer-stay-at-bottom-of-the-page-with-flex-box 
 vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/
.list-resource-button {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  width: 100vw;
  height: 6em;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 1;
}

.list-resource-button button {
  background-color: #00b2ff;
  border-radius: 50%;
  border: none;
  width: 2.5em !important;
  height: 2.5em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  float: right;
  font-size: 2em;
  color: white;
  z-index: 1;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */

/* Pop up for list? */

/* MODAL */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-popup {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 4em));
  transition: all 0.3s;
  border-radius: 0.3em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal.active .modal-popup {
  transform: translate(-50%, -50%);
}

.modal.active {
  opacity: 1;
  pointer-events: initial;
}

.modal-head,
.modal-foot {
  background-color: #adadad;
  line-height: 2em;
}

.modal-body {
  background-color: white;
  padding: 1em;
  position: relative;
  flex: 1 1 auto;
}