/* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--color-neutral-light: #eaeeef;
   --color-neutral-medium: #9aa2a4;
   --color-neutral-dark: #363c3e;

	--color-main-light: #b9f1fe;
	--color-main-medium: #20b3d5;
	--color-main-dark: #054352;

   --color-white: #fff;
   --color-black: #000;

	--header-height:3rem;
	--gap-size:1rem;
	--container-width:1000px;

	--font-serif:Georgia, "Times New Roman", serif;
	--font-sans:Helvetica, arial, sans-serif;
}

body {
	margin:0;
	font-size:100%;
	font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:var(--font-serif);
}

a {
	display: block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
	vertical-align: text-bottom;
}






/* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/* Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-stretchier { flex: 2 2 auto; }
.flex-none { flex: none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }
.flex-column { flex-direction: column; }






[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.center-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.text-center { text-align:center; }

.scrollable {
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
















.ui-mobile .ui-page-active {
	display:flex;
	flex-direction:column;

	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow:hidden;
	position:relative;
	background-color:white;
	z-index:1;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	overflow:hidden;
	position:relative;
	line-height: var(--header-height);
	border-width:0;
	background-color:white;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	z-index:2;
}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position:relative;
}

[data-role="footer"] li {
	flex:1 1 auto;
	text-align:center;
}

.ui-header .ui-title {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	margin:0;
}

[data-role="header"] a {
	display:block;
	padding:0 1em;
}






/* FORMS */

.form-control {
    margin: 1em 0;
}

.form-label {
    margin: 0.6em 0 !important;
    font-size: 0.8em;
    color: var(--color-neutral-medium);
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    padding: 0.5em 1em;
    background-color: transparent;
    outline: 0;
    font:inherit;
}
.form-input:focus {
	border-bottom-color:var(--color-main-medium);
}
.form-button {
    border-width: 0;
    display: inline-block;
    width: 100%;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: var(--color-neutral-light);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline:0;
}
.form-button:active {
	background-color:var(--color-main-light);
}

.hotdog-button,
.hotdog {
    display: inline-flex;
    width: 100%;
    background-color: var(--color-neutral-light);
    border-width: 0;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 2em;
    text-align:left;
    outline:0;
}
.hotdog-button {
    background-color: var(--color-main-light);
    text-align: center;
}





/*  LOGIN PAGE */
.login-logo {
	border-radius:50%;
	max-width:35vmax;
}








/*  MODAL  */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	pointer-events:none;
}
.modal.active {
	opacity:1;
	pointer-events:initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-popup {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 4em));
    transition:all 0.3s;
    border-radius:0.3em;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}
.modal-head,
.modal-foot {
	background-color:var(--color-neutral-light);
	line-height:var(--header-height);
}
.modal-body {
	background-color:var(--color-white);
	padding:1em;
	position:relative;
	flex:1 1 auto;
}






/* ICONS */
[data-role='footer'] a {
	display:block;
}
.footer-icon {
    line-height: 2rem;
    font-size: 1.5em;
}
.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: text-bottom;
    pointer-events:none;
}
.footer-label {
    line-height: 1rem;
    font-size: 0.7em;
}






.map {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../img/map.png);
	background-size:cover;
}




.hero-image {
    height: 25vh;
    position: relative;
    margin-bottom: calc(13vh + 1em);
    background-color: var(--color-main-medium);
}
.hero-image img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
}
.settings {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 3rem;
    height: 3rem;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}





.animallist-item {
    position: relative;
    overflow: hidden;
    border-radius: 0.7em;
    margin: 1em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.animallist-body {
   font-size:0.8em;
   padding:0.5em 1em;
}
.list-image {
	vertical-align: text-bottom;
	width:8em;
	height:4.5em;
	object-fit:cover;
}






#animal-profile-page .profile {
	display:flex;
	flex-direction:column;
	height:100%;
}
.profile-head {
    flex: none;
    height: 8em;
    position: relative;
    transition: all 0.3s;
}
.profile-head.active {
    height: 70vh;
}
.profile-body {
	flex:1 1 100%;
	position:relative;
}
.profile-head img {
	width:6em;
	height:8em;
	object-fit:cover;
	vertical-align:text-bottom;
}