
/* ELEMENT RESETS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Rubik:400,500,700&display=swap');
/**,*::before,*::after {
	box-sizing:inherit;
}*/

:root {
    --color-neutral-dark: #332d2d;
    --color-neutral-medium: #988c8c;
    --color-neutral-light: #ece7e7;

    --color-bg-light: #fff7ec;
    --color-bg-medium: #8c9a78;
    --color-bg-dark: #2c351f;

    --color-font-light: #fffbf7;
    --color-font-medium: #8c9a78;
    --color-font-dark: #000;

    --color-main-light:#ccc;
    --color-main-medium:#ccc;
    --color-main-dark:#ccc;

    --color-black:black;
    --color-white:white;
}
html,
body {

    box-sizing: border-box;
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    font-family: 'Montserrat','Roboto', sans-serif;
    line-height: 1.6;
    /*background-color: var( --color-bg-dark);*/

}
* {
    box-sizing: border-box;
    font-size: inherit;
}
h1, h2, h3, h4 ,h5, h6 {
	font-size: initial;
}
h1, h2, h3, h4 ,h5, h6, a, th {
	color: var(--color-font-light);
	letter-spacing: 0.8px;
	margin-bottom: -0.25em;
    /*margin-left: 0.5em;*/
}
h1, h2, h3 {
	font-size: 150%;
    /*margin-bottom: 0.8rem;*/
}
h4,h5,h6 {
    margin-bottom: 0.8rem;
    color: var(--color-main-medium);
}

ul,li {
    padding: 0;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.0em;
    font-size: 12px;
    list-style: none;
}
a {
    /*outline: none;*/
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    color: inherit;

}

p {
    color: var(--color-font-medium);
    font-size: 13px;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 2.0em;
}
input,
select {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #313131;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 22px;
    padding: 11px;
    position: relative;
/*    width: 100%;*/
    /*margin: 5px 0;*/
}


header h1 {
	text-transform: uppercase;
	margin: auto;
	position: absolute;
	left: 0;
    /*left: -50%;*/
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
header h2 {
	position: relative;
	top: -150px;
	font-size: 200%;
	margin: auto;
}

.intro {
	display: flex;
	flex-direction: column;
}
.intro .summary,
.intro .preamble {
	width: 60%;
	margin: auto;
	/*padding: 2em;*/

}
.main {
	display: flex;
	flex-direction: column;
}
.main>div {
	width: 60%;
	margin: auto;
}
.summary a::after,
.preamble a::after,
.main a::after {
	content: "";
  	display: inline-block;
  	position: absolute;
  	bottom: -5px;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	background-color: #fff;
	margin-bottom: 1px solid #FFBA00;
}
footer {
	position: relative;
	top: 2rem;
	display: flex;
	padding: 0 20%;
	justify-content: space-between;

	background-color: #fff;
}
.main footer a::after {
	display: none;
}
.sidebar {
	margin: 100px 10%;
}
.sidebar .wrapper {
	/*background-color: #fff;*/
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0;

}
.design-selection {
	grid-column: span 8;
	grid-row: span 2;
}
.design-archives {
	grid-column: span 4;
	grid-row: span 1;
}
.zen-resources {
	grid-column: span 4;
	grid-row: span 1;
}
.sidebar .wrapper>div {
	display: flex;
	flex-direction: column;
	/*width: 60%;*/
}
.sidebar .wrapper>div.design-selection>* {
	width: 100%;
	margin: auto;

}
.sidebar .wrapper>div.design-archives,
.sidebar .wrapper>div.zen-resources {
	width: 60%;
	margin: 0 auto;

}

.sidebar .design-selection nav {
	display: flex;
	justify-content: center;
}
.sidebar .design-selection nav ul {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 0;
	
}
.sidebar .design-selection nav ul li {
	grid-column: span 3;
	display: flex;
	text-align: center;
	/*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: column;
    height: 0;
    

    /*position: relative;*/
	/*border: 1px solid red;*/
    /*width: 25%;*/
	background-color: var(--color-bg-light);
	/*height: 100px;*/
	padding-bottom: 100%;

}
.sidebar .design-selection nav ul li>a {
	margin-top: 10%;
	width: 100%;
	display: block;
}
.sidebar .design-selection nav ul li:nth-child(3n) {
	background-color: var(--color-bg-light);
}
.sidebar .design-selection nav ul li:nth-child(3n+1) {
	background-color: var(--color-bg-medium);
}
.sidebar .design-selection nav ul li:nth-child(3n+2) {
	/*background-color: var(--color-bg-dark);*/
	background-color: #fff;
}
.sidebar .design-selection nav ul li::after {
  content: "";
  display: block;
  /*这里的padding =  height / width*/
  /*padding-bottom: 100%;*/
}
.sidebar nav ul li>a {
	/*display: block;*/
}

@media (max-width: 1024px) {
	header h1 {
		font-size: 100%;
		
	}
	header h2 {
		position: relative;
		font-size: 150%;
	}
	.design-selection {
		grid-column: span 12;
	}
	.design-archives {
		grid-column: span 6;
	}
	.zen-resources {
		grid-column: span 6;
	}
	.intro .summary,
	.intro .preamble,
	.main>div,
	.sidebar .wrapper>div.design-archives,
	.sidebar .wrapper>div.zen-resources {
		width: 80%;
	}
}

@media (max-width: 768px) {
	
	.sidebar .design-selection nav ul li {
		grid-column: span 3;
	}

}
@media (max-width: 425px) {
	header {
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    padding-top: 10%;
	    
	}
	header h1 {
		position: relative;
		font-size: 100%;
		/*position: relative;*/
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		
	}
	header h2 {
		position: relative;
		top: 0;
		font-size: 50%;
	}
	.sidebar .design-selection nav ul li {
		grid-column: span 6;
	}
	.sidebar {
	    margin: 100px 0;
	}
	.sidebar .wrapper>div.design-selection>h3 {
		width: 80%;
	}
	.sidebar .design-selection nav ul li {
		/*grid-column: span 12;*/
	}
	.design-archives,
	.zen-resources {
		grid-column: span 12;
	}

}


.col-1 {	grid-column: span 1;	}
.col-2 {	grid-column: span 2;	}
.col-3 {	grid-column: span 3;	}
.col-4 {	grid-column: span 4;	}
.col-5 {	grid-column: span 5;	}
.col-6 {	grid-column: span 6;	}
.col-7 {	grid-column: span 7;	}
.col-8 {	grid-column: span 8;	}
.col-9 {	grid-column: span 9;	}
.col-10 {	grid-column: span 10;	}
.col-11 {	grid-column: span 11;	}
.col-12 {	grid-column: span 12;	}
@media (min-width: 768px) {
/*@media (min-width: 1024px) {*/
	.col-sm-1 {	grid-column: span 1;	}
	.col-sm-2 {	grid-column: span 2;	}
	.col-sm-3 {	grid-column: span 3;	}
	.col-sm-4 {	grid-column: span 4;	}
	.col-sm-5 {	grid-column: span 5;	}
	.col-sm-6 {	grid-column: span 6;	}
	.col-sm-7 {	grid-column: span 7;	}
	.col-sm-8 {	grid-column: span 8;	}
	.col-sm-9 {	grid-column: span 9;	}
	.col-sm-10 {grid-column: span 10;	}
	.col-sm-11 {grid-column: span 11;	}
	.col-sm-12 {grid-column: span 12;	}
}
@media (min-width: 1024px) {
/*@media (min-width: 1280px) {*/
	.col-md-1 {	grid-column: span 1;	}
	.col-md-2 {	grid-column: span 2;	}
	.col-md-3 {	grid-column: span 3;	}
	.col-md-4 {	grid-column: span 4;	}
	.col-md-5 {	grid-column: span 5;	}
	.col-md-6 {	grid-column: span 6;	}
	.col-md-7 {	grid-column: span 7;	}
	.col-md-8 {	grid-column: span 8;	}
	.col-md-9 {	grid-column: span 9;	}
	.col-md-10 {grid-column: span 10;	}
	.col-md-11 {grid-column: span 11;	}
	.col-md-12 {grid-column: span 12;	}
}
@media (min-width: 1440px) {
	.col-xl-1 {	grid-column: span 1;	}
	.col-xl-2 {	grid-column: span 2;	}
	.col-xl-3 {	grid-column: span 3;	}
	.col-xl-4 {	grid-column: span 4;	}
	.col-xl-5 {	grid-column: span 5;	}
	.col-xl-6 {	grid-column: span 6;	}
	.col-xl-7 {	grid-column: span 7;	}
	.col-xl-8 {	grid-column: span 8;	}
	.col-xl-9 {	grid-column: span 9;	}
	.col-xl-10 {grid-column: span 10;	}
	.col-xl-11 {grid-column: span 11;	}
	.col-xl-12 {grid-column: span 12;	}
}

@media (min-width: 2560px)
{
    .col-xxl-1 {	grid-column: span 1;	}
	.col-xxl-2 {	grid-column: span 2;	}
	.col-xxl-3 {	grid-column: span 3;	}
	.col-xxl-4 {	grid-column: span 4;	}
	.col-xxl-5 {	grid-column: span 5;	}
	.col-xxl-6 {	grid-column: span 6;	}
	.col-xxl-7 {	grid-column: span 7;	}
	.col-xxl-8 {	grid-column: span 8;	}
	.col-xxl-9 {	grid-column: span 9;	}
	.col-xxl-10 {grid-column: span 10;	}
	.col-xxl-11 {grid-column: span 11;	}
	.col-xxl-12 {grid-column: span 12;	}
}
button{
    outline:none;
}



dt,dd {
	padding: 1em 2em;
}
dt {
	padding: 0 2em;
	background-color: var(--color-bg-light);
}
dt~dt {
	margin-top: 1em;
}
dd {
	margin: 0;
	background-color: var(--color-bg-medium);
}





