/* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--color-neutral-light: #ffffff;
   --color-neutral-medium: #f3f3f3ff;
   --color-neutral-dark: #1f1f1f;

	
	--color-main-dark: #971616;

   --color-white: #fff;
   --color-black: #000;

	--header-height:3rem;
	--gap-size:1rem;
	--container-width:1000px;

	
}

body {
	margin:0;
	font-size:100%;
	font-family: 'Lato', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;

}

a {
	display:inline-block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}






/* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/* Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-stretchier { flex: 2 2 auto; }
.flex-none { flex: none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }
.flex-column { flex-direction: column; }
.flex-justify-start {justify-content: flex-start;}
.flex-justify-end {justify-content: flex-end;}


/*appbar*/
.appbar__bottom {
	background-color: var(--color-main-dark);
    will-change: box-shadow, transform;
    transform: box-shadow 170ms ease-out;
    position: absolute;
    top: -50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    /* padding: 1em; */
    background-color: var(--color-main-dark);
    color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transform: translateX(-50%);

}

/*backgroundimg*/
/*.map{
	background: url(../img/map.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
*/
/*}*/

.map {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*background-image:url(../img/map.png);*/
    /*background-size:cover;*/
}


.profile{
	/*max-width: 15vmax;*/
    border-radius: 50%;
    margin-top: 1.5em;
}

.product{
	background: url(../img/mojito.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.backgroundcolor-profile{
	background: linear-gradient(to bottom right, #971616, #1f1f1f);
    width: 100%;
    height: 15em;
}

.thumbnail{
	/*border-radius: 50%;*/
    max-width: 30vmax;
}

/*.dot {
    height: 15px;
    width: 15px;
    background-color: var(--color-main-dark);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/

.record{
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mockuprecord{
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%,-50%);
}




[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

[data-role="footer"] a {
	
	
	font-weight:100;
	text-decoration:none;
}

[data-role="footer"] a:active {
	
	
	font-weight:bold;
	
}

.center-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.text-center { text-align:center; }

.scrollable {
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.active a{
    font-weight: 800;
}

/*List Page*/
/*search*/
.searchstyle{
	margin: 1em;
}

.searchbar{
	display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-medium);
    padding: 0.5em 1em;
    font: inherit;
    color: inherit;
    border-radius: 2em;
    outline: 0;
    display: flex;
}

.alcohollist-item {
    position: relative;
    overflow: hidden;
   /* border-radius: 0.7em;*/
    margin: 1em;
    /*box-shadow: 0 2px 10px rgba(0,0,0,0.2);*/
}

.alcohol_name{
    float: left;
}

.alcohol_type{
    float: right;
    color: grey;
}

.alcohol-image{

}

.alcohol-figure{
    text-align: center;
}

.list-image{
    vertical-align: text-bottom;
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 1em;  
}

/*Product Profile*/
.arrow_black {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow_white{
    border: solid white;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top: 12px;
    left: 10px;
    display: flex;
    width: 0.8rem;
    height: 0.8rem;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

.arrowleft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.profileinfo{
	background-image: url(../img/mojito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15em;
}

/*Adding Page*/

.addinfo{
	background-color: var(--color-neutral-medium);
    height: 15em;
}

.addthumbnail{
	position: absolute;
	top: 50%;
	left:50%; 
	transform: translate(-50%,-50%);
	font-size: 5em;
}




.ui-mobile .ui-page-active {
	display:flex;
	flex-direction:column;

	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow:hidden;
	position:relative;
	background-color:white;
	z-index:1;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	/*overflow:hidden;*/
	position:relative;
	line-height: var(--header-height);
	border-width:0;
	background-color:white;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	z-index:2;

}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position:relative;
}

[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.ui-header .ui-title {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	margin:0;
}

[data-role="header"] a {
	display:block;
	padding:0 1em;
}




/* FORMS */
.form-control p{
	color: var(--color-neutral-medium);
	margin-bottom: 0;
}

.form-control h3{
	margin:0;
}

.form-control {
    margin: 1em 0;
}

.form-label {
    margin: 0.6em 0 !important;
    font-size: 0.8em;
    color: var(--color-neutral-medium);
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    padding: 0.5em 1em;
    background-color: transparent;
    outline: 0;
    font:inherit;
}
.form-input:focus {
	border-bottom-color:var(--color-main-medium);
}
.form-button {
    border-width: 0;
    display: inline-block;
    width: 100%;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: var(--color-main-dark);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline:0;
    color: var(--color-neutral-light);
}
.form-button:active {
	background-color:var(--color-main-light);
}

.hotdog-button,
.hotdog {
    display: inline-flex;
    width: 100%;
    /*background-color: var(--color-neutral-medium);*/
    border-width: 1px;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    /*text-align:left;*/
    outline:0;

}
.hotdog-button {
    background-color: var(--color-main-dark);
    text-align: center;
    color: var(--color-neutral-light);
    width: 100%;
    border-width: 0;
}





/*  LOGIN PAGE */
.login-logo {
	/*border-radius:50%;*/
	max-width:20vmax;
}

.disapear{
	display: none;
}

.failure{
	margin-bottom: 0;
	text-align: center;
	color: var(--color-main-dark);
}


/*Profile page*/

#alcohol-profile-page .profile {
    display:flex;
    flex-direction:column;
    height:100%;
}
.profile-head {
    flex: none;
    height: 8em;
    position: relative;
    transition: all 0.3s;
}
.profile-head.active {
    height: 70vh;
}
.profile-body {
    /*flex: 1 1 auto;*/
    position: relative;
    overflow: hidden;
    width: 18em;
    height: 20em;
}
.profile-head img {
    width:6em;
    height:8em;
    object-fit:cover;
    vertical-align:text-bottom;
}

.settings {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

.icon{
    height: 1em;
}

.editname{
    border-width: 1px;
font: inherit;
padding: 0.5em 1em;
border-radius: 0.5em;
text-align: left;
outline: 0;
}

.editprofile{
    
}

.editphoto{
    display:inline-block;
}

/*tablechart*/
.confirmationtable {

}


/*lovepage*/


.love-pageheader{
    height: 3rem;
}

/*  MODAL  */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	pointer-events:none;
}
.modal.active {
	opacity:1;
	pointer-events:initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-popup {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 4em));
    transition:all 0.3s;
    border-radius:0.3em;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}
.modal-head,
.modal-foot {
	background-color:var(--color-neutral-light);
	line-height:var(--header-height);
}
.modal-body {
	background-color:var(--color-white);
	padding:1em;
	position:relative;
	flex:1 1 auto;
}

.modal-head h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.modal-head a {
    display:block;
    padding:0 1em;
}
.modal-foot input {
    font-weight:bold;
    padding:0 1em;
}



.modal-drawer {
    position:absolute;
    transition:all 0.3s;
}
.modal-drawer .modal-body {
    height:100%;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.modal-body.soft {
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.modal-drawer.top,
.modal-drawer.bottom { left:0; height:30%; width:100%; }
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal-drawer.right,
.modal-drawer.left { top:0; width:80%; height:100%;}
.modal-drawer.right { right:0; transform:translateX(100%); }
.modal-drawer.left { left:0; transform:translateX(-100%); }

.modal.active .modal-drawer {
    transform:translate(0,0);
}






.anchor { position:absolute; }
.anchor.top { top:1em; }
.anchor.right { right:1em; }
.anchor.bottom { bottom:1em; }
.anchor.left { left:1em; }

.circle {
    width:3rem;
    height:3rem;
    background-color:var(--color-white);
    color:var(--color-black);
    text-align:center;
    line-height:3rem;
    display:block;
    border-radius:50%;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    font-size:1.5em;
}










