/* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--color-neutral-light: #ffffff;
   --color-neutral-medium: #f3f3f3ff;
   --color-neutral-dark: #1f1f1f;

	
	--color-main-dark: #971616;

   --color-white: #fff;
   --color-black: #000;

	--header-height:3rem;
	--gap-size:1rem;
	--container-width:1000px;

	
}

body {
	margin:0;
	font-size:100%;
	font-family: 'Lato', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;

}

a {
	display:inline-block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}






/* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/* Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-stretchier { flex: 2 2 auto; }
.flex-none { flex: none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }
.flex-column { flex-direction: column; }


/*appbar*/
.appbar__bottom {
	background-color: var(--color-main-dark);
    will-change: box-shadow, transform;
    transform: box-shadow 170ms ease-out;
    position: absolute;
    top: -50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    /* padding: 1em; */
    background-color: var(--color-main-dark);
    color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transform: translateX(-50%);

}

/*backgroundimg*/
.map{
	background: url(../img/map.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.center-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.text-center { text-align:center; }

.scrollable {
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
















.ui-mobile .ui-page-active {
	display:flex;
	flex-direction:column;

	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow:hidden;
	position:relative;
	background-color:white;
	z-index:1;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	/*overflow:hidden;*/
	position:relative;
	line-height: var(--header-height);
	border-width:0;
	background-color:white;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	z-index:2;
}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position:relative;
}

[data-role="footer"] li {
	flex:1 1 auto;
	text-align:center;
}

.ui-header .ui-title {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	margin:0;
}

[data-role="header"] a {
	display:block;
	padding:0 1em;
}






/* FORMS */

.form-control {
    margin: 1em 0;
}

.form-label {
    margin: 0.6em 0 !important;
    font-size: 0.8em;
    color: var(--color-neutral-medium);
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    padding: 0.5em 1em;
    background-color: transparent;
    outline: 0;
    font:inherit;
}
.form-input:focus {
	border-bottom-color:var(--color-main-medium);
}
.form-button {
    border-width: 0;
    display: inline-block;
    width: 100%;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: var(--color-main-dark);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline:0;
    color: var(--color-neutral-light);
}
.form-button:active {
	background-color:var(--color-main-light);
}

.hotdog-button,
.hotdog {
    display: inline-flex;
    width: 100%;
    /*background-color: var(--color-neutral-medium);*/
    border-width: 1px;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    /*text-align:left;*/
    outline:0;

}
.hotdog-button {
    background-color: var(--color-main-dark);
    text-align: center;
    color: var(--color-neutral-light);
    width: 100%;
    border-width: 0;
}





/*  LOGIN PAGE */
.login-logo {
	/*border-radius:50%;*/
	max-width:20vmax;
}








/*  MODAL  */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	pointer-events:none;
}
.modal.active {
	opacity:1;
	pointer-events:initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-popup {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 4em));
    transition:all 0.3s;
    border-radius:0.3em;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}
.modal-head,
.modal-foot {
	background-color:var(--color-neutral-light);
	line-height:var(--header-height);
}
.modal-body {
	background-color:var(--color-white);
	padding:1em;
	position:relative;
	flex:1 1 auto;
}