/*ELEMENT RESETS*/

*,*::before,*::after{
	box-sizing: border-box;
}

:root {
	--color-neutral-light:yellow;
	--color-neutral-medium:grey;
	--color-neutral-dark:black;

	--header-height:3rem;
	--gap-size: 1rem;
	--contianer-width: 1000px;

	--font-serif: Georgia, "Times New Roman", serif;
	--font-sans: Helvetica, arial, sans-serif;
}

body{
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6{
   font-family: var(--font-serif);
}

a{
	display: inline-block;
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}








/*Small Classes*/

.container{
	max-width: var(--contianer-width);
	margin-right: auto;
	margin-left: auto;
}

/*Layout Classes*/
.display-flex{display: flex;}
.display-inline-flex{display: inline-flex;}
.display-block{display: block;}
.display-inline-block{display: inline-block;}

.flex-stretch{flex:1 1 auto;}
.flex-none{flex:none;}

.flex-justify-center{justify-content: center;}
.flex-aligh-center{align-items: center;}

/*Components*/

.navbar{
 background-color: var(--color-neutral-dark);
 color: var(--color-neutral-light);
 line-height: var(--header-height);
}

.navbar h1{
	font-size: 1em;
	margin: 0;
}

.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.navbar li:not(:last-child) a {
	padding-left:0.5em;
	padding-right:0.5em;
}
.navbar li:last-child a {
	padding-left:0.5em;
}


@media (max-width:1000px) {
	.article,.navbar {
		padding:0 1em;
	}
}

@media (max-width:500px) {
	.navbar .display-flex {
		display:block;
	}

	.navbar .nav li{
		line-height:calc(var(--header-height) * 0.5);
	}
}






















