/* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--color-neutral-light: #eaeeef;
   --color-neutral-medium: #9aa2a4;
   --color-neutral-dark: #363c3e;

	--color-main-light: #b9f1fe;
	--color-main-medium: #20b3d5;
	--color-main-dark: #054352;

   --color-white: #fcfcfc;
   --color-black: #181818;

	--header-height:3rem;
	--gap-size:1rem;
	--container-width:1000px;

	--font-sans:"nunito regular", sans-serif;
}

body {
	margin:0;
	font-size:100%;
	font-family:var(--font-sans);
	background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:var(--font-serif);
}

a {
	display:inline-block;
	color:inherit;
	text-decoration:none;

}






/* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/* Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none;  }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }


/*appbar*/
.appbar__bottom {
	background-color: var(--color-main-dark);
    will-change: box-shadow, transform;
    transform: box-shadow 170ms ease-out;
    position: absolute;
    top: -50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    /* padding: 1em; */
    background-color: var(--color-main-dark);
    color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transform: translateX(-50%);

}

/*backgroundimg*/
.map{
	background: url(../img/map.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}



[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.center-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}



.text-center { text-align:center; }

.scrollable {
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}














.ui-mobile .ui-page-active {
	display:flex;
	flex-direction:column;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow:hidden;
	position:relative;
	background-color:#fcfcfc;
	z-index:1;
}
[data-role="main"] li {
	list-style: none;
	margin-bottom: 0.5em;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	overflow:hidden;
	position:relative;
	line-height: var(--header-height);
	border-width:0;
	background-color:#f17537;
	color: #fcfcfc;
	z-index:2;
}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position: relative;	
}

[data-role="footer"] li {
	flex:1 1 auto;
	text-align:center;
}

[data-role="header"] h1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;	
}




/* FORMS */

.form-control {
    margin: 1em 0;
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    padding: 0.5em 1em;
    background-color: transparent;
    outline: 0;
    font:inherit;
}
.form-input:focus {
	border-bottom-color:var(--color-main-medium);
}
.form-button {
    border-width: 0;
    display: inline-block;
    width: 100%;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: var(--color-neutral-light);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline:0;
}









/* login page */

.signin-logo{
	margin-bottom: 1em;
	width: 100%;
}

#signup-box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);plus
}



.form-button{
	background: linear-gradient(90deg, #d24205 0%, #f17537 53%, #d6b80a 100%);
	border: none;
	margin: 0.5em;
	padding: 1em;
	color: #fcfcfc;
	border-radius: 25px;
}

.usercontainer{
	display: inline-block;
	justify-content: center;
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.user-img{
	width: 35%;
}


.dog-profile-container{
	display: block;
	justify-content: center;
	margin: 2em;
}

.dog-profile-paw{
	width: 40%;

}

.back{
	margin-left: 1em;
}

.edit{
	margin-right: 1em;
	font-size: 10pt;
}




/* profile */


.usercontainer {
    width: 95%;    
    height: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfcfc;
    filter: drop-shadow(0 0 0.15rem lightgrey);
    padding-bottom: 25px;
}

.profile-name{
	flex-basis: 100%;
}

.specs-info {
    margin: auto;
    width: 50%;
    flex: none;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.info-inside-box {
    margin: auto;
    width: 50%;
    flex: none;
    flex-wrap: wrap;
}

.info-number{
	font-weight: bold;
}

.form-label {
	margin-top: 1.5em !important;
	margin-bottom: 1.5em !important;
	padding: 0.2em 0.5em 0;
}
.leftalign{
	font-weight: bold;
}

.rightalign{
	font-weight: normal;
}

.form-button-out{
	background: linear-gradient(90deg, #d24205 0%, #f17537 53%, #d6b80a 100%);
    border: none;
    margin: 1em;
    padding: 1em;
    color: #fcfcfc;
    border-radius: 30px;
}


.img-control{
	width: 100px;
	align-items: center;
	margin: 0 auto;
}

.imagepicker-profile input {
    display: none;
}


.profile-info-box2{
	margin-top: 2em;
}


/*  MODAL  */
.plus{
	margin-right: 1em;
}


.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	pointer-events:none;
}
.modal.active {
	opacity:1;
	pointer-events:initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-popup {
    width: 80%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 4em));
    transition:all 0.3s;
    border-radius:0.3em;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}
.modal-head,
.modal-foot {
	background-color:#f17537;
	line-height:var(--header-height);
	color: #fcfcfc;
	text-align: center;
}
.modal-body {
	background-color:#fcfcfc;
	padding:1em;
	position:relative;
	flex:1 1 auto;
}

.form-button-submit{
	color: #f17537;
    background-color: #fcfcfc;
    width: 30%;
    border-width: 0;
    border-radius: 2em;
    padding: 1em;
    margin-top: 0.5em;
}


.dog-profile-container{
	display: block;
	text-align: center;
}

.dog-profile-label{
	display: block;
	justify-content: center;
}

.dog-profile-paw{
	margin-top: 1em;
	margin-bottom: 3em;
}

/* list */

input.search {
    display: inline-block;
    width: 100%;
    display: flex;
    margin-bottom: 2em;
}


.list-container{
	padding: 1em;
}

.list-box {
	display: flex;
	justify-content: center;
	margin:1em;
}


