.menu-icon {
	cursor: pointer;
}
.nav-container {
	position: relative;
}
nav ul {
	display:none;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;

}
#menu:checked + ul {
	display: block;
	padding-bottom:0.5em;
}