/************* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {

/*=========== Brand Identity =================*/

/*=========== Grey Colors =============*/
   --color-neutral-light: #E5E5E5;
   --color-neutral-medium: #ABABAB;
   --color-neutral-dark: #363c3e;

   --color-white: #fff;
   --color-black: #434343;


/*=========== Primary Colors =============*/
   --color-blue-medium: #85E8E8;
   --color-blue-light: #B9EEED;
   --color-pink-medium: #C53C7B;
   --color-purple-medium: #8A5CA6;

   --color-pink-light: #F5A0C5;
   --color-purple-light: #C076A9;
   --color-Yellow-medium: #FEDB45;
   --color-Yellow-light: #FEEDA0;



   --font-sans-par: "Monteserrat";
   --font-sans-title: "Ubuntu";

   --header-height: 3rem;
   --gap-size:1rem;
   --container-width:1000px;
}


body {
	margin:0;
	font-size:100%;
	font-family: 'Montserrat', 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-sans-title);
}
h5,
h6 {
	font-family:var(--font-sans-par);
}

a {
	display:inline-block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}







/************* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/************** Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 0.5 0.5 auto; }
.flex-stretchier { flex: 2 2 auto; }
.flex-none { flex: none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }
.flex-column {flex-direction: column;}



[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.center-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text-center { text-align: center; }

.scrollable {
	overflow: auto;
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height:100%;
}


.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	overflow: hidden;
	position: relative;
	line-height: var(--header-height);
	border-width: 0;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	z-index: 2;
}
[data-role="header"] ul,
[data-role="footer"] ul {
	display: flex;
	position: relative;
}

[data-role="footer"] li {
	flex: 1 1 auto;
	text-align: center;
}

.ui-header .ui-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.ui-header, .ui-footer {
	border-style: none;
}

[data-role="header"] a {
	display: block;
	padding: 0 1em;
}

/*========needs to check=========*/

.ui-title {
	margin: 0 0%;
}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position:relative;
}

[data-role="footer"] li {
	flex:1 1 auto;
	text-align:center;
}
[data-role="header"] h1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}


/*================== Signin / Login ====================*/
.form-input input {
    background-color: var(--color-neutral-light);
    margin: 3%;
    padding: 4%;
}

.form-input {
	font-family: "Montserrat";
}
.add-button button {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--color-neutral-medium);

}
.add-button a {
	color: black;
}

[data-role="main"] img {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: inherit;
}

.back-button {
	background-color: var(--color-neutral-light);
	display: flex;
}

/*=========== Cited: w3schools ===========*/
.list-row {
    display: flex; 
}
.list-column {
	flex: 50%;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 50px;

}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    height: 100%;
  }
}
/*========== Cited is over ===============*/

/* ================== FORMS ===============*/
.form-control {
	margin: 0.5em 0;

}

.form-label {
	margin: 0.6em 0 !imprtant;
	font-size: 0.9em;
	color: var(--color-pink-medium);
}
.form-input {
	display: inline-block;
	width: 100%;
	border-width: 0;
	border-bottom: 1px solid var(--color-neutral-medium);
	padding: 0.5em 1em;
	background-color: transparent;
	outline: 0;
	font: inherit;
}

.form-input:focus {
	border-bottom-color: var(--color-blue-medium);
}
.form-button {
	border-width: 0;
	display: inline-block;
	width: 100%;
	font: inherit;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	background-color: var(--color-pink-medium);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: 0;
	align-items: center;
}
.form-button:active {
    background-color: var(--color-pink-light);
}
.form-button text{
	color: #fff;
}



.unisignin,
.unisignin-button {
   display: inline-flex;
   width: 100%;
   background-color: var(--color-neutral-light);
   border-width: 0;
   font: inherit;
   padding: 1em 1em;
   border-radius: 0.5em;
   text-align: center;
   outline: 0;
}

.unisignin-button {
	background-color: var(--color-pink-medium);
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
	display: inline;
}
.unisignin-button:active {
	background-color: var(--color-blue-medium);
}
input.unisignin-button {
    text-align: center;
    font-weight: bold;
    font-family: var(--font-sans-title);
    color: white;
}
text.unisignin-button {
    text-align: center;
}


/* ================== LOGIN PAGE ===============*/

.login-logo {
    width: 50vmax;
    max-width: calc(100% - 10em);
    top: 0;
}

.link-signup {
	margin-bottom: 3em;
    text-align: center;
}
.link-signup a {
	color: var(--color-purple-medium);
}
.link-signup a:hover {
	color: var(--color-pink-medium);
}
