/************* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {

/*=========== Brand Identity =================*/

/*=========== Grey Colors =============*/
   --color-neutral-light: #E5E5E5;
   --color-neutral-medium: #ABABAB;
   --color-neutral-dark: #363c3e;

   --color-white: #fff;
   --color-black: #434343;


/*=========== Primary Colors =============*/
   --color-blue-medium: #85E8E8;
   --color-blue-light: #B9EEED;
   --color-pink-medium: #C53C7B;
   --color-purple-medium: #8A5CA6;

   --color-pink-light: #F5A0C5;
   --color-purple-light: #C076A9;
   --color-Yellow-medium: #FEDB45;
   --color-Yellow-light: #FEEDA0;



   --font-sans-par: "Monteserrat";
   --font-sans-title: "Ubuntu";

   --header-height: 3rem;
   --gap-size:1rem;
   --container-width:1000px;
}


body {
	margin:0;
	font-size:100%;
	font-family: 'Montserrat', 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-sans-title);
}
h5,
h6 {
	font-family:var(--font-sans-par);
}

a {
	display:inline-block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}







/************* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/************** Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-stretchier { flex: 2 2 auto; }
.flex-none { flex: none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }
.flex-column {flex-direction: column;}



[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.center-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text-center { text-align: center; }

.scrollable {
	overflow: auto;
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height:100%;
}


.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	overflow: hidden;
	position: relative;
	line-height: var(--header-height);
	border-width: 0;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	z-index: 2;
}
[data-role="header"] ul,
[data-role="footer"] ul {
	display: flex;
	position: relative;
}

[data-role="footer"] li {
	flex: 1 1 auto;
	text-align: center;
}
[data-role="header"] h1 {
	color: var(--color-purple-light);
}

.ui-header .ui-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.ui-header, .ui-footer {
	border-style: none;
}

[data-role="header"] a {
	display: block;
	padding: 0 1em;
}

/*======================== FOOTER =======================*/
.flex-child { 
	flex: 1 1 auto;
	margin-top: 1em;
}


/*========needs to check=========*/

.ui-title {
	margin: 0 0%;
}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position:relative;
}

[data-role="footer"] li {
	flex:1 1 auto;
	text-align:center;
}
[data-role="header"] h1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}


/*================== Signin / Login ====================*/
.form-input input {
    background-color: var(--color-neutral-light);
    margin: 3%;
    padding: 4%;
}

.form-input {
	font-family: "Montserrat";
}
.add-button button {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--color-neutral-medium);

}
.add-button a {
	color: black;
}

[data-role="main"] img {
	margin: 0;
	background-image: inherit;
}

#back-button {
	display: flex;
	margin-top: 0.5em;
}
.back-button-img {
	width: 25px; 
	height: 25px; 
}

/* ================== FORMS ===============*/
.form-control-signin,
.form-control-signup {
	margin: 0.5em 0;
}

.form-label {
	margin: 0.6em 0 !imprtant;
	font-size: 0.9em;
	color: var(--color-pink-medium);
}
.form-input {
	display: inline-block;
	width: 100%;
	border-width: 0;
	border-bottom: 1px solid var(--color-neutral-light);
	padding: 0.5em 1em;
	background-color: transparent;
	outline: 0;
	font: inherit;
}

.form-input:focus {
	border-bottom-color: var(--color-blue-medium);
}
.form-button {
	border-width: 0;
	display: inline-block;
	width: 100%;
	font: inherit;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	background-color: var(--color-pink-medium);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: 0;
	align-items: center;
}
.form-button:active {
    background-color: var(--color-blue-medium);

}
.form-button text{
	color: #fff;
}


.uni-user-signup,
.uni-pass-signup,
.uni-conf-signup,
.uni-user-signin,
.uni-pass-signin,
.unisignin-button {
   display: inline-flex;
   width: 100%;
   background-color: var(--color-neutral-light);
   border-width: 0;
   font: inherit;
   padding: 1em 1em;
   border-radius: 0.5em;
   text-align: center;
   outline: 0;
}

.unisignin-button {
	background-color: var(--color-pink-medium);
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
	display: inline;
}
.unisignin-button:active {
	background-color: var(--color-blue-medium);
}
input.unisignin-button {
    text-align: center;
    font-weight: bold;
    font-family: var(--font-sans-title);
    color: white;
}
text.unisignin-button {
    text-align: center;
}
::placeholder{
	color: #fff;
}


/* ================== LOGIN PAGE ===============*/

.login-logo {
    width: 50vmax;
    max-width: calc(100% - 10em);
    top: 0;
}

.link-signup {
	margin-top: 5em;
	margin-bottom: 1em;
    text-align: center;
}
.link-signup a {
	color: var(--color-purple-medium);
}
.link-signup a:hover {
	color: var(--color-pink-medium);
}

/*====================== MAP PAGE ================*/


.map {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../img/map.png);
	background-size:cover;
}

.map-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
    z-index: 1;
}
.map-unicon-one {
	position: absolute;
	top: 300px;
	left: 70px;
	z-index: 2;
}
.map-unicon-one img,
.map-unicon-two img {
	width: 7vmax;
	height: 7vmax;
}
.map-unicon-two {
	position: absolute;
	top: 100px;
	left: 200px;
	z-index: 3;
}
img.add-icon {
    margin-top: 1em;
}





/*======================== MODAL =========================*/
.modal-popup {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,calc(-50% + 4em));
    transition: all 0.3s;
    border-radius: 0.3em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	pointer-events: none;
	box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}
.modal.active {
	opacity: 1;
	pointer-events: initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}
.modal-head,
.modal-foot {
	background-color: #325C82;;
	line-height: var(--header-height);
	color: white;
    font-weight: bold;
    font-family: "Ubuntu";
    text-align: center;
    width: 60%;
}
.modal-body {
	background-color: #325C82;
	padding: 1em;
	position: relative;
	flex: 1 1 auto;
	color: white;
	text-align: center;
	width: 60%;
}
.modal-body span {
    padding-top: 1em;
    padding-bottom: 1em;
}



/*================ Unicorn Profile Page ==================*/
.uni-charc-one,
.uni-charc-two,
.uni-charc-three,
.uni-charc-four,
.uni-charc-five,
.uni-charc-six {
	width: 100vmax;
	height: auto;
	margin: 1em 1em 0 1em ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
    outline: 0;
    border-radius: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
}
.uni-charc-one {
	background-image: url(../img/unicorn-jr.png);
}
.uni-charc-two {
	background-image: url(../img/unicorn-rainbow.png);
}
.uni-charc-three {
	background-image: url(../img/unicorn-ninja.png);
}
.uni-charc-four {
	background-image: url(../img/unicorn-nerdy.png);
}
.uni-charc-five {
	background-image: url(../img/unicorn-spec.png);
}
.uni-charc-six {
	background-image: url(../img/unicorn-creative.png);
}

.unicorn-one,
.unicorn-two,
.unicorn-three,
.unicorn-four,
.unicorn-five,
.unicorn-six {
	width: 100%;
	height: auto;
	margin: 1em 1em 0 1em ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
    outline: 0;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.unicorn-one {
	background-image: url(../img/unicorn-jr.png);
}
.unicorn-two {
	background-image: url(../img/unicorn-rainbow.png);
}
.unicorn-three {
	background-image: url(../img/unicorn-ninja.png);
}
.unicorn-four {
	background-image: url(../img/unicorn-nerdy.png);
}
.unicorn-five {
	background-image: url(../img/unicorn-spec.png);
}
.unicorn-six {
	background-image: url(../img/unicorn-creative.png);
}

.uni-name-profile

/*=====New=====*/
#animal-profile-page .profile {
	display:flex;
	flex-direction:column;
	height:100%;
}
.profile-head {
    flex: none;
    height: 8em;
    position: relative;
    transition: all 0.3s;
}
.profile-head.active {
    height: 70vh;
}
.profile-body {
	flex:1 1 100%;
	position:relative;
}
.profile-head img {
	width:6em;
	height:8em;
	object-fit:cover;
	vertical-align:text-bottom;
}


/*======================= ADD PAGE =======================*/
.form-control-add {
	margin: 0.5em 0;
}
#add-form {
	margin-top: 3em;
}
.uni-charc-add {
	width: 40vmax;
	height:40vmax;
	margin: 1em 1em 0 1em ;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
    outline: 0;
    border-radius: 1em;
    margin-top: 4em;
    margin-bottom: 4em;
}
.uni-charc-add {
	background-image: url(../img/icon/add.svg);
}
.uni-add,
.uni-add-name,
.uni-add-type,
.uni-add-trait,
.uni-add-button {
   display: inline-flex;
   width: 100%;
   background-color: var(--color-neutral-light);
   border-width: 0;
   font: inherit;
   padding: 1em 1em;
   border-radius: 0.5em;
   text-align: center;
   outline: 0;
}

.uni-add-button {
	background-color: var(--color-pink-medium);
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
	display: inline;
}
.uni-add-button:active {
	background-color: var(--color-blue-medium);
}
input.uni-add-button {
    text-align: center;
    font-weight: bold;
    font-family: var(--font-sans-title);
    color: white;
}
text.uni-add-button {
    text-align: center;
}
::placeholder{
	color: #fff;
}
img.back-icon {
    margin-top: 1em;
}


/*======================= LIST PAGE ======================*/
.unicornone,
.unicorntwo,
.unicornthree,
.unicornfour,
.unicornfive,
.unicornsix {
	width: 20vmax;
	height:20vmax;
	margin: 1em 1em 0 1em ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
    outline: 0;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.unicornone {
	background-image: url(../img/unicorn-jr.png);
}
.unicorntwo {
	background-image: url(../img/unicorn-rainbow.png);
}
.unicornthree {
	background-image: url(../img/unicorn-ninja.png);
}
.unicornfour {
	background-image: url(../img/unicorn-nerdy.png);
}
.unicornfive {
	background-image: url(../img/unicorn-spec.png);
}
.unicornsix {
	background-image: url(../img/unicorn-creative.png);
}

.unicorname {
    text-align: center;
}

.display-flex {
	display: flex;
}
.flex-justify-center {
	justify-content: center;
}


/*========================== PROFILE PAGE =======================*/
.profile-image {
    height: 20vh;
    position: relative;
    margin-bottom: calc(6vh + 1em);
    background-color: var(--color-main-medium);
}
.profile-image img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
.profile-info-text {
	padding: 0.5em;
}
.settings-icon {
	padding: 2em;
}
#logout-button,
#settings-button {
	background-color: var(--color-pink-medium);
   display: inline-flex;
   width: 100%;
   font: inherit;
   padding: 1em 1em;
   border-radius: 0.5em;
   text-align: center;
   outline: 0;
	margin-bottom: 0;
	margin-top: 0;
	display: inline;
	border-width: 0;
}

input#logout-button, 
input#settings-button {
    text-align: center;
    font-weight: bold;
    font-family: var(--font-sans-title);
    color: white;
}

#settings-button:active,
#logout-button:active {
	background-color: var(--color-blue-medium);
}

.profile-info-text h3 {
	text-align: center;
}
.profile-user-info {
	margin-left: 1em;
}


/*========================== FOOTER =============================*/

/*ICONS*/
[data-role='footer'] a {
	display: block;
}
.footer-icon {
	line-height: 3rem;
    font-size: 1.5em;
}
.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: text-bottom;
	pointer-events: none;
}
.footer-lable {
	line-height: 1rem;
	font-size: 0.7em;
}

