/* ELEMENT RESETS */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--color-neutral-light: #eaeeef;
   --color-neutral-medium: #9aa2a4;
   --color-neutral-dark: #003f22;

	--color-main-light: #f7f7c8;
	--color-main-medium:#8fc31f;
	--color-main-dark: #003f22;

   --color-white: #fff;
   --color-black: #000;

	--header-height:3rem;
	--gap-size:1rem;
	--container-width:1000px;

	--font-serif:Georgia, "Times New Roman", serif;
	--font-sans:Helvetica, arial, sans-serif;
}

body {
	margin:0;
	font-size:100%;
	font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:var(--font-serif);
}

a {
	display:inline-block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}


header
{
	color: var(--color-main-dark);
}




/* Small Classes */

.container {
	max-width:var(--container-width);
	margin-right: auto;
	margin-left: auto;
}
.hidden { display:none; }



/* Layout Classes */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-stretchier { flex: 2 2 auto; }
.flex-none { flex: none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }
.flex-column { flex-direction: column; }






[data-role="header"] ul,
[data-role="footer"] ul,
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.center-child {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.text-center { text-align:center; }

.scrollable {
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.scrollable-x {
   overflow-x:auto;
   max-width:100%;
}






.map{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/map.jpg);
    background-size: cover;
}









.ui-mobile .ui-page-active {
	display:flex;
	flex-direction:column;

	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
[data-role="main"] {
	flex: 1 1 100%;
	overflow:hidden;
	position:relative;
	background-color:white;
	z-index:1;
}
[data-role="header"],
[data-role="footer"] {
	flex: none;
	overflow:hidden;
	position:relative;
	line-height: var(--header-height);
	border-width:0;
	background-color:var(--color-main-medium);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	z-index:2;
}

[data-role="header"] ul,
[data-role="footer"] ul {
	display:flex;
	position:relative;
}

[data-role="footer"] li {
	flex:1 1 auto;
	text-align:center;
}

.ui-header .ui-title {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	margin:0;
}

[data-role="header"] a {
	display:block;
	padding:0 1em;
}






/* FORMS */

.form-control {
    margin: 1em 0;
}

.form-label {
    margin: 0.6em 0 !important;
    font-size: 0.8em;
    color: var(--color-main-dark);
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    padding: 0.5em 1em;
    background-color: transparent;
    outline: 0;
    font:inherit;
}
.form-input:focus {
	border-bottom-color:var(--color-main-medium);
}
.form-button {
    border-width: 0;
    display: inline-block;
    width: 100%;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: var(--color-main-medium);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline:0;
}
.form-button:active {
	background-color:var(--color-main-light);
}



.form-select select {
    display: inline-block;
    border-width: 0;
    width: 100%;
    background-color: var(--color-neutral-light);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    -webkit-appearance: none;
    outline:0;
}
.form-select {
    position: relative;
}
.form-select::after {
    content:'▼';
    position:absolute;
    top:50%;
    right:0.4rem;
    font-size:0.6em;
    transform:translateY(-50%);
    color:var(--color-neutral-medium);}


.hotdog-button,
.hotdog {
    display: inline-flex;
    width: 100%;
    background-color: var(--color-neutral-light);
    border-width: 0;
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-align:left;
    outline:0;
}
.hotdog-button {
    background-color: var(--color-main-medium);
    text-align: center;
}

.js-logout.ui-link{
	padding-top: 3em;
}




.hotdog.light {
   background-color:var(--color-white);
}
.hotdog.soft {
   box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}


header .hotdog {
   line-height:1.5em;
   margin:0.2em;
}
.hotdog input {
    border-width: 0;
    display: block;
    width:100%;
    font: inherit;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    outline:0;
    margin:0;
}


.chromeless {
    border-width: 0;
    display: inline-block;
    font: inherit;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    outline:0;
    margin:0;
}



/*  LOGIN PAGE */
.login-logo {

	max-width:30vmax;
}








/*  MODAL  */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	pointer-events:none;
}
.modal.active {
	opacity:1;
	pointer-events:initial;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-popup {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 4em));
    transition:all 0.3s;
    border-radius:0.3em;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
}
.modal-head,
.modal-foot {
	background-color:var(--color-neutral-light);
	line-height:var(--header-height);
}
.modal-body {
	background-color:var(--color-white);
	padding:1em;
	position:relative;
	flex:1 1 auto;

}

.anchor { position:absolute; }
.anchor.top { top:1em; }
.anchor.right { right:1em; }
.anchor.bottom { bottom:1em; }
.anchor.left { left:1em; }

.circle {
    width:3rem;
    height:3rem;
    background-color:var(--color-white);
    color:var(--color-black);
    text-align:center;
    line-height:3rem;
    display:block;
    border-radius:50%;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    font-size:1.5em;
}




/* ICONS */
[data-role='footer'] a {
	display:block;
}
.footer-icon {
    line-height: 2rem;
    font-size: 1.5em;
}
.icon {
    width: 1em;
    height: 1em;
    display: inline-block;

    vertical-align: text-bottom;
    pointer-events:none;
}
.footer-label {
    line-height: 1rem;
    font-size: 0.7em;
}

.add{
	background-color: transparent;
}
a.ui-link.add{
	z-index: 1;
	position: absolute;
	bottom: 5em;
	right: 3em;
	filter: drop-shadow(0 0 0.3rem grey);
}


.map {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../img/map.jpg);
	background-size:cover;
}


.product{
	background: url(../img/alpca1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.productone {
    width: 7em;
    height: 7em;
    border-radius: 0.2em;
    background-image: url(../img/alpca1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    margin: 1em 2em 0em 2em;
}

.alpaca-profile img{
    width: 20vh;
    height: 15vh; 
    border-radius: 10%;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
}
.productname {
    text-align: center;
    margin-bottom: 1em;
}

.hero-image {
    height: 28vh;
    position: relative;
    margin-bottom: calc(13vh + 3em);
    background-color: var(--color-main-medium);
}


.hero-image img, .hero-image1 img {
    width: 30vh;
    height: 30vh; 
    border-radius: 50%;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
}

.hero-image1 img{
	width: 20vh;
    height: 20vh; 
}


.blue{
	position: absolute;
    bottom: 5em;
    right: 10.5em;
}

.pink{
	position: absolute;
bottom: 18em;
    right: 2em;
}
.settings {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 3rem;
    height: 3rem;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}
.profile-title{
	text-align: center;
}
.profile-body{
padding-left: 25%;
}
.edit-info{
	padding-top: 70%;
}






.animallist-item {
    position: relative;
    overflow: hidden;
    border-radius: 0.7em;
    margin: 1em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.animallist-body {
   font-size:0.8em;
   padding:0.5em 1em;
}
.list-image {
    vertical-align: text-bottom;
    width:8em;
    height:4.5em;
    object-fit:cover;
}






#animal-profile-page .profile {
    display:flex;
    flex-direction:column;
    height:100%;
}
.profile-head {
    flex: none;
    height: 8em;
    position: relative;
    transition: all 0.3s;
}
.profile-head.active {
    height: 70vh;
}
.profile-body {
    flex:1 1 100%;
    position:relative;
}
.profile-head img {
    width:6em;
    height:8em;
    object-fit:cover;
    vertical-align:text-bottom;
}