html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 80% Noto Sans, sans-serif;
	line-height: 1.6;
	color: #2c0366; 
	background: #fcfcfc; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font-family: Noto Serif;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-bottom: 15px; 
	color: #7851ad;

	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


.page-wrapper { 
	background: #fcfcfc; 
	padding: 50px 50px 0 50px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}